In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range("20130228", periods=6)
dates

DatetimeIndex(['2013-02-28', '2013-03-01', '2013-03-02', '2013-03-03',
               '2013-03-04', '2013-03-05'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list("ABCD"))
                            #^randn: normally distributed random numbers
                            #(6,4) returns a 6 by 4 array (matrix) of random numbers
df

                   A         B         C         D
2013-02-28 -0.506013 -1.312356 -0.438617  1.388864
2013-03-01  0.431999  0.289503  0.197811 -0.592446
2013-03-02  0.432537  0.664235  0.595849 -1.275475
2013-03-03  0.699691 -0.144746  0.767594 -0.361068
2013-03-04  1.302485 -0.000113 -0.670388 -1.124450
2013-03-05  0.312255 -1.573620  0.721381 -0.063566

In [5]:
df2 = pd.DataFrame(
    {
        "Classification": "Housework",
        "Date": pd.Timestamp("20220221"),
        "Item": pd.Categorical(["cook","do dishes","laundry","vacuum"]),
    }
)
df2

  Classification       Date       Item
0      Housework 2022-02-21       cook
1      Housework 2022-02-21  do dishes
2      Housework 2022-02-21    laundry
3      Housework 2022-02-21     vacuum