harder: create a function that:
    takes the search results in input
    extract the columns Sequence , Charge , Modification  and save them into a different object peprec_initialise
        - can also skip this for now: add a unique ID to each row
    returns  peprec_initialise

def first_function(search_results):
    new_data = search_results
    return new_data

In [1]:
import pandas as pd

In [5]:
def first_function(search_results):
    searchResults = pd.read_json(search_results)
    peprec_initialise = searchResults.loc[:,['sequence','charge']].drop_duplicates()
    peprec_initialise = peprec_initialise.rename(columns={"sequence":"peptide"})
    peprec_initialise["spec_id"] = peprec_initialise.index
    peprec_initialise["modifications"] = '-'
    peprec_initialise = peprec_initialise.loc[:,['spec_id','modifications','peptide','charge']]
    return peprec_initialise

In [3]:
peprec_initialise = first_function('../../data/test2_peprec/searchResults.json')

In [4]:
peprec_initialise

,spec_id,sequence,charge,modifications
0,0,VVSVLTVLHQDWLNGK,2,-
1,1,SGALTSGVHTFPAVLQSSGLYSLSSVVTVPSSSLGTQTYICNVNHK...,5,-
2,2,WQQGNVFSCSVMHEALHNHYTQK,2,-
3,3,VDNALQSGNSQESVTEQDSKDSTYSLSSTLTLSK,3,-
4,4,SGALTSGVHTFPAVLQSSGLYSLSSVVTVPSSSLGTQTYICNVNHK...,4,-
...,...,...,...,...
7261,7261,EEQYNSTYRVVS,2,-
7262,7262,FNWYVDGVEVHNAKTKPREEQYNSTYRVVSV,4,-
7268,7268,TKPREEQYNSTYRVVSVLTVLHQDWLNG,5,-
7269,7269,TKPREEQYNSTYRV,4,-
7271,7271,EEQYNSTYRV,4,-

In [7]:
peprec_initialise.to_csv("../../data/test2_peprec/searchResults.PEPREC",sep='\t', index=False)

In [6]:
#Wrapper for first_function

def main(searchResults,peprec):
    peprec_initialise = first_function(searchResults)
    peprec_initialise.to_csv(peprec,sep='\t', index=False)
    return

In [7]:
main('../../data/test2_peprec/searchResults.json','../../data/test2_peprec/searchResults.PEPREC')